
.env
.env.*
!.env.example
secrets/
*.log
*.local

coverage/
.nyc_output/

android/
ios/
.capacitor/

dist/
.angular/
.angular/cache/
tmp/
out-tsc/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

consultor-processos-frontend/src/environments/environment.prod.ts
consultor-processos-frontend/www

Manual-Operacional.md

backend/target/
target/

*.class
*.jar
*.war
*.ear

.mvn/timing.properties

.gradle/
build/

.vscode/

nbproject/

.docker/

logs/
*.log


*.log.*

.DS_Store
Thumbs.db
Desktop.ini

*.tmp
*.temp
*.swp
*.swo
*~

.testcontainers.properties

*.pem
*.der

mvnw.cmd
mvnw
*/.mvn/*
dir