
.env
.env.*
!.env.example
secrets/

backend/target/
target/

*.class
*.jar
*.war
*.ear

.mvn/timing.properties

.gradle/
build/

.vscode/

nbproject/

.docker/

logs/
*.log


*.log.*

.DS_Store
Thumbs.db
Desktop.ini

*.tmp
*.temp
*.swp
*.swo
*~

.testcontainers.properties

*.pem
*.der

mvnw.cmd
mvnw
*/.mvn/*